body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.table-responsive {
    overflow-x: auto;
}

thead th {
    white-space: nowrap;
}

td input, td select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: none; /* Remove input borders */
}

.btn-primary {
    font-size: 16px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.table th, .table td {
    border: 1px solid #ddd;
    border-collapse: separate;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #800000; /* Mahogany color */
    color: #fff; /* Light font color */
    z-index: 1;
}

.table thead th {
    border-top: none;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
}

.table tbody td:first-child {
    border-left: none;
}

.table tbody td:last-child {
    border-right: none;
}

.table .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
